BUCKET_NAME=testbucket123456789
STACK_NAME=teststack123456789
CF_ROLE=testCloudFrontInvalidationRole
DEFAULT_ROOT_OBJECT=index.html
PRICE_CLASS=PriceClass_100
REMOVAL_POLICY=RETAIN
AUTO_DELETE_OBJECTS=false
CDK_TAG_USER=JOEBLOGGS1
